{% extends 'Blog/base.html' %}
{% block content %}
    <article class="media content-section">
        {% if user.profile.image.url is not None %}
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        {% else %}
            <img class="rounded-circle article-img" src="http://tinygraphs.com/spaceinvaders/{{ user.id }}?theme=bythepool&xt=4&h=120&w=120&gx1=0&gy1=0&gy2=60&gx2=60&numcolors=3&size=256">
        {% endif %}
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="/community/{{ post.author }}">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted | date:'F d, Y' }}</small>
            {% if post.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ post.get_absolute_url }}/update">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{{ post.get_absolute_url }}/delete">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
{% endblock %}